*{
    font-family: monospace;
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to left, #4E9F3D , #D8E9A8);
}
footer{
    background-color: #fff;
    font-size: 25px;
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 10px #666;
}
.nav1{
    margin: auto;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px #666;
    padding: 15px;
    font-size: 20px;
    background-color: white;
}
nav{
    flex: 1;
    padding-right: 30px;
}
nav ul li{
    display: inline;
    list-style: none;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(54, 124, 81)
}
nav ul li a:hover{
    background-color: #cdd6df;
    padding: 10px;
    border-radius: 20px;
}
.login{
    text-align: right;
}
.login a{
    text-decoration: none;
    background-color: rgb(41, 40, 40);
    color: white;
    padding: 15px;
    border-radius: 30px;
}
input, button {
    color: #fff;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}
.tb {
    display: table;
    width: 100%;
}
.td {
    display: table-cell;
    vertical-align: middle;
}
.hsearch{
    margin: 5% auto auto 30%;
    font-size: 70px;
}
#cover {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 1500px;
    padding: 35px;
    margin: -300px auto 0 auto;
    background-color:#191A19;
    border-radius: 80px;
    box-shadow: 0 10px 20px #4E9F3D, 0 0 0 10px #1E5128;
    transform: scale(0.3);
}
form {
    height: 96px;
}
input[type="text"] {
    width: 100%;
    height: 96px;
    font-size: 55px;
    line-height: 1;
    border-radius: 80px;
    text-align: justify;
}
input[type="text"]::placeholder {
    color: #D8E9A8;
}
#s-cover {
    width: 1px;
    padding-left: 35px;
}
button {
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}
#s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}
button span {
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}
button span:before, button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}
#s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}
#s-cover:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}
#s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
}
#s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: #fff;
}
table{
    display: flex;
    justify-content: center;
    border-spacing: 200px;
}
.songinfo{
    text-align: justify;
    font-size: 15px;
    margin-bottom: 300px;
    width: 700px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.videolink{
    margin-bottom: 100px;
}
.avbon{
    margin-top: -250px;
    padding: 20px;
    font-size: 13px;
    
}